adf-stracy-studio/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-stracy-studio"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"GoogleBigQuery1_keyFileContent": {
			"type": "secureString",
			"metadata": "Secure string for 'keyFileContent' of 'GoogleBigQuery1'"
		},
		"ls_blob_cust_ingestion_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_cust_ingestion'"
		},
		"ls_mysql_src_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_mysql_src'"
		},
		"ls_mysql_src_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "35.223.80.16"
		},
		"ls_mysql_src_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "telecom_devices"
		},
		"ls_mysql_src_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "inceptez"
		},
		"ls_restapi_src_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://v6.exchangerate-api.com/v6/d2dc0f83029c12073054e204/latest/INR"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Invoke_the_ingestion_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ep_ingestion_job_invoke",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "us5_pipeline_restapi_dyn",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"param1": {
									"value": "@pipeline().parameters.currencyData",
									"type": "Expression"
								},
								"param2": {
									"value": "@pipeline().parameters.fileName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"currencyData": {
						"type": "array",
						"defaultValue": [
							"INR",
							"AUD"
						]
					},
					"fileName": {
						"type": "string",
						"defaultValue": "currencyData"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:55:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/us5_pipeline_restapi_dyn')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parameterize_pipeline_restapi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sv_get_paratmers",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "default_list",
							"value": {
								"value": "@pipeline().parameters.country_list",
								"type": "Expression"
							}
						}
					},
					{
						"name": "fe_iterate_paramters",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "act_wait",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.country_list",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "web-extract-currency",
									"type": "WebActivity",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@concat('https://v6.exchangerate-api.com/v6/d2dc0f83029c12073054e204/latest/',item())",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "web-extract-currency",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 5
									}
								},
								{
									"name": "fail_web_activities",
									"type": "Fail",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "web-extract-currency",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('unable to process the currency', item())",
											"type": "Expression"
										},
										"errorCode": "-200"
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [
										{
											"activity": "Wait1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "GoogleBigQueryV2Source",
											"additionalColumns": [
												{
													"name": "currency",
													"value": {
														"value": "@string(item())",
														"type": "Expression"
													}
												},
												{
													"name": "webjson",
													"value": {
														"value": "@string(activity('web-extract-currency').output)",
														"type": "Expression"
													}
												}
											],
											"query": "select 1 as dummy"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"filePattern": "arrayOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_googleBigQueryObject1",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_lkh_adls_target",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "fail_activities",
						"description": "failure in getting parameters",
						"type": "Fail",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "sv_get_paratmers",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "'invalid currency'",
								"type": "Expression"
							},
							"errorCode": "-100"
						}
					},
					{
						"name": "act_wait",
						"type": "Wait",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "sv_get_paratmers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"country_list": {
						"type": "array",
						"defaultValue": [
							"USD",
							"INR"
						]
					}
				},
				"variables": {
					"default_list": {
						"type": "Array",
						"defaultValue": [
							"USD"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_googleBigQueryObject1')]",
				"[concat(variables('factoryId'), '/datasets/ds_lkh_adls_target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/simplepipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "paramvalues",
							"value": {
								"value": "@pipeline().parameters.listofvalue",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('paramvalues')",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(length(pipeline().parameters.listofvalue),0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('paramvalues')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "foreachitems",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "pass some values in the param",
							"errorCode": "1"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"listofvalue": {
						"type": "array",
						"defaultValue": [
							"a",
							"b"
						]
					},
					"filename": {
						"type": "string",
						"defaultValue": "\"retail_trans\""
					},
					"Param1": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"variables": {
					"paramvalues": {
						"type": "Array"
					},
					"foreachitems": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-11T03:53:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/us1_pipeline_blob_adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_blob_adls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_lkh_adls_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_lkh_adls_target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/us2_pipeline_mysql_blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "move-data-mysql-blob",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "`device_master`"
							},
							{
								"name": "Destination",
								"value": "db-adls-container/inbound_dir/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"parallelCopies": 2,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "db-adls-container/inbound_dir"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "device_id",
											"type": "Int32"
										},
										"sink": {
											"path": "device_id"
										}
									},
									{
										"source": {
											"name": "device_type",
											"type": "String"
										},
										"sink": {
											"path": "$['device_type']"
										}
									},
									{
										"source": {
											"name": "brand",
											"type": "String"
										},
										"sink": {
											"path": "$['brand']"
										}
									},
									{
										"source": {
											"name": "model",
											"type": "String"
										},
										"sink": {
											"path": "$['model']"
										}
									},
									{
										"source": {
											"name": "owner_customer_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cust_id']"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"path": "$['status']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['updated_dt']"
										}
									},
									{
										"source": {
											"name": "os",
											"type": "String"
										},
										"sink": {
											"path": "$['os']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mySql_table1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_lkh_adls_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_mySql_table1')]",
				"[concat(variables('factoryId'), '/datasets/ds_lkh_adls_target')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/us4_pipeline_bq_az_lkh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "bq-copy-az-lakehouse",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "GoogleBigQueryV2Source"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_googleBigQueryObject1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_lkh_adls_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_googleBigQueryObject1')]",
				"[concat(variables('factoryId'), '/datasets/ds_lkh_adls_target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/us5_pipeline_restapi')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_restapi_lkh_adls",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "FlattenHierarchy",
									"blockSizeInMB": 100
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_restapi_src",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_lkh_adls_target",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"currency_list": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-06T04:43:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_restapi_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_lkh_adls_target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/us5_pipeline_restapi_dyn')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sv_country_list",
						"type": "SetVariable",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "fileName_P2",
							"value": {
								"value": "@pipeline().parameters.param2",
								"type": "Expression"
							}
						}
					},
					{
						"name": "FE_country_list_looping",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "sv_country_list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.param1",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "web_rest_api_ingestion",
									"type": "WebActivity",
									"state": "Inactive",
									"onInactiveMarkAs": "Succeeded",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"httpRequestTimeout": {
											"value": "@item()",
											"type": "Expression"
										},
										"url": {
											"value": "@concat('https://v6.exchangerate-api.com/v6/d2dc0f83029c12073054e204/latest/',item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param1": {
						"type": "array",
						"defaultValue": [
							"USD"
						]
					},
					"param2": {
						"type": "string",
						"defaultValue": "\"SalesDate\""
					}
				},
				"variables": {
					"currencies": {
						"type": "Array"
					},
					"fileName_P2": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-07T04:24:23Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleBigQueryObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GoogleBigQuery1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "GoogleBigQueryV2Object",
				"schema": [],
				"typeProperties": {
					"dataset": "inceptez_insurance",
					"table": "customer1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GoogleBigQuery1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_cust_ingestion",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "custs_header",
						"folderPath": "inbound",
						"container": "vz-blob-container"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_cust_ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_googleBigQueryObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GoogleBigQuery1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "GoogleBigQueryV2Object",
				"schema": [],
				"typeProperties": {
					"dataset": "inceptez_insurance",
					"table": "claim_transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GoogleBigQuery1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lkh_adls_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('SalesData_',string(utcNow()))",
							"type": "Expression"
						},
						"folderPath": "inbound_dir",
						"container": "db-adls-container"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_mySql_table1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_mysql_src",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`device_master`"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_mysql_src')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_restapi_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_restapi_src",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "https://v6.exchangerate-api.com/v6/d2dc0f83029c12073054e204/latest/INR"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_restapi_src')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "tested successfully in dev",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleBigQuery1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GoogleBigQueryV2",
				"version": "1.1",
				"typeProperties": {
					"projectId": "inceptez-gcp-batchwd25",
					"authenticationType": "ServiceAuthentication",
					"keyFileContent": {
						"type": "SecureString",
						"value": "[parameters('GoogleBigQuery1_keyFileContent')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_cust_ingestion')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_cust_ingestion_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_mysql_src')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('ls_mysql_src_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('ls_mysql_src_properties_typeProperties_database')]",
					"username": "[parameters('ls_mysql_src_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_mysql_src_password')]"
					},
					"driverVersion": "v2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_restapi_src')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_restapi_src_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}